<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Email</title>
</head>
<body>
    <section>
        <img src="" alt="">
        <div class="content">
            <h2>Verify your email!</h2>
            <p>Hi,</p>
            <p>You are receiving a mail because proceeding to login, we need to verify that it is you.</p>
            <p>Ignore the message if you know you didn't register on this platform.</p>
            <button>Verify Account</button>
            <br>
            <hr>
        </div>
    </section>
</body>
</html>